#container-draggable button.btn-draggable-toggle,
#container-draggable button.btn-draggable {
    display: inline-flex;
    align-items: center;
    border: 0px !important;
    outline: none !important;
}

#container-draggable button.btn-draggable::before {
    width: 1.25em;
    content: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="30" fill="black"/><circle cx="50" cy="50" r="10" stroke="%23fff" stroke-width="3" stroke-linecap="round" fill="%23fff"/></svg>');
    transition: transform .35s ease;
    transform-origin: .5em 50%;
    margin-right: 0.2rem;
}

#container-draggable button.btn-draggable-toggle::before {
    width: 1.25em;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
    margin-right: 0.2rem;
}

#container-draggable button[aria-expanded="true"].btn-draggable-toggle::before {
    transform: rotate(90deg);
}

#container-draggable li.show-draggable .select-draggable{
    display: block !important;
}

#container-draggable li.im-draggable{
    touch-action: none;
}

#container-draggable li .border-draggable{
    position: relative;
    top: 9px;
    display: none;
}

#container-draggable li.im-draggable-selected > .border-draggable {
    display: block !important;
}

#container-draggable button.loading span {
    display: block !important;
}

#container-draggable button.loading i {
    display: none !important;
}